:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Tron';
  src: url('/Tron.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Tron', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  height: 100dvh;
}

body {
  /* position: relative; */
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#wave{
  width: 100vw;
  width: 100dvw;
  position: fixed;
  bottom: 0;
}

#name{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 10dvw;
  color: cyan;
  bottom: calc(50% - 3.5dvw);
}


.scene{
  z-index: 499;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.over_scene{
  z-index: 500;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}